@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.lyrics {
  line-height: 1.8rem;
}

.lyrics p {
  font-size: 16px;
  line-height: 2rem;
}

.lyrics h2 {
  font-size: 18px;
  margin: 1.8rem 0 0 0;
  font-weight: 600;
  display: block;
}

.edit_input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  margin-bottom: 1rem;
}

.error {
  @apply text-error text-xs;
}
